<div class="header">
CityApp
</div>
<h1>Cities Detail Screen </h1>
<p>Title: <%= @city.name %></p>
<p>Contents: <%= @city.content %></p>
<footer class="footer">
  <p class="foot-content"> <i>Designed by Blaise Gustave Under Dive Into Code Program</i></p>
</footer>
